<div class="nav-bar-component">
    <nav>
        <ul class="nav nav-tabs">
            <li  class="nav-item">
                <a class="nav-link active" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/login">Login</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link active" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</div>
