<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <h1>HOME</h1>
        <form>
            <input  id='URL_img' type='text' name='image-url' placeholder="Image URL"/><br><br>
            <button name="wishList">Add to WishList</button>
            <button name='cart'>Add to Cart</button>
            <button name='exit'>Exit</button>
        </form>
    </body>
</html>