<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs')%>
    <body>
            <div class="container">
                <h1 class="display-4">Fashion Analytics </h1>
            </div>
            <div class="jumbotron">
                <div class="container">
                    <%-include('./partials/nav.ejs')%>
                    <div class="=login-component">

                        <form method="POST" action='/login'>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="Email" id="email">
                                <small id="error-info3" style="color:red;font-family:Geneva" ></small>
                            </div>

                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password" name="Password" class="form-control" id="password">
                                <small id="error-info2" style="color:red;font-family:Geneva "></small>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>

                        </form>
                    </div>
                </div>
            </div>
          
    </body>
</html>
